*:before, 
*:after, 
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #D1D2D4;
  font-family: 'Open Sans', sans-serif;
}

header {
  background-color: #404042;
  text-align: center;
  padding: 20px;
}

h1 {
  color: #EB458B;
  letter-spacing: 1px;
  font-size: 50px;
  font-weight: 900;
  margin: 0px;
}

.guesser {
  font-weight: 100;
}

h2 {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 1px;
}

.body-content {
  display: flex;
}

/*---------------LEFT COLUMN----------------*/

.left-column {
  width: 50%;
  background-color: #F5F6F8;
}

.left-column-box {
  border: 2px solid #EAEAEA;
  background-color: #FFFFFF;
  margin: 15px;
}

.input-flex {
  display: flex;
}

h3 {
  color: #606060;
  font-weight: 800;
  font-size: medium;
  margin: 10px;
  letter-spacing: .5px;
}

label {
  color: #7A7B82;
}

.btn {
  background-color: #7F7F7F;
  color: #FFFFFF;
  border-radius: 10px;
  padding: 5px;
  font-weight: 600;
  font-size: small;
}

.text-input {
  height: 36px;
}

.current-range-statement {
  margin: 10px;
  font-weight: 100;
  font-size: 15px;
  margin-bottom: 20px;
}

.latest-scores-flex {
  display: flex;
  justify-content: space-around;
}

.latest-scores {
  display: flex;
  flex-direction: column;
}

h4 {
  font-weight: 600;
  color: #727279;
}

.current-guess {
  font-weight: 100;
  font-size: medium;
}

.pink-number {
  color: #EB458B;
  font-weight: 900;
  font-size: 60px;
}

.guess-assessment-text {
  font-weight: 300;
  font-size: larger;
}

/*-----------RIGHT COLUMN------------------*/

.right-column {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game-end-card {
  background-color: #FFFFFF;
  width: 90%
}

.dlt-btn {
  height: 25px;
}