*:before, 
*:after, 
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #D1D2D4;
  font-family: 'Open Sans', sans-serif;
}

header {
  background-color: #404042;
  text-align: center;
  padding: 20px;
}

h1 {
  color: #EB458B;
  letter-spacing: 1px;
  font-size: 50px;
  font-weight: 900;
  margin: 0px;
}

.guesser {
  font-weight: 100;
}

h2 {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 1px;
}

.body-content {
  display: flex;
}

/*---------------LEFT COLUMN----------------*/

.left-column {
  width: 50%;
  background-color: #F5F6F8;
  border-right: 1.5px solid #AAAAAA
}

.left-column-box {
  border: 2px solid #EAEAEA;
  background-color: #FFFFFF;
  margin: 15px;
}

.input-flex {
  display: flex;
  margin: 5px 10px 10px 10px;
  align-items: flex-end;
  justify-content: space-between
}

h3 {
  color: #606060;
  font-weight: 800;
  font-size: medium;
  margin: 10px;
  letter-spacing: .5px;
  margin-bottom: 4px;
}

label {
  color: #7A7B82;
  margin-bottom: 5px;
}

.btn {
  background-color: #7F7F7F;
  color: #FFFFFF;
  border-radius: 10px;
  padding: 5px;
  font-weight: 600;
  font-size: small;
  height: 36px;
}

.text-input {
  height: 36px;
  margin-bottom: 15px;
}

.text-input-error {
  border: 2px solid #EB458B;
}

.text-input-columns {
  display: flex;
  flex-direction: column;
}

.current-range-statement {
  margin: 10px;
  font-weight: 100;
  font-size: 15px;
  margin-bottom: 20px;
}

.latest-scores-flex {
  display: flex;
  justify-content: space-around;
}

.latest-scores {
  display: flex;
  flex-direction: column;
}

h4 {
  font-weight: 600;
  color: #727279;
}

.current-guess {
  font-weight: 100;
  font-size: medium;
}

.pink-number {
  color: #EB458B;
  font-weight: 900;
  font-size: 60px;
}

.guess-assessment-text {
  font-weight: 300;
  font-size: larger;
  margin-bottom: 10px;
}

/*-----------RIGHT COLUMN------------------*/

.right-column {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.game-end-card {
  background-color: #FFFFFF;
  width: 90%;
  border: 1.5px solid #AAAAAA;
  padding: 10px 15px;
  margin-left: 20px;
  margin-top: 15px;
}

.game-end-card-header {
  display: flex;
  justify-content: space-around;
  font-weight: 100;
  font-size: 12px;
  align-items: center;
}

.game-end-card-name {
  font-size: 15px;
  font-weight: 700;
  margin: 5px;
  color: #606060;
}

.game-end-card-champion-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.winner-name {
  font-size: 30px;
  font-weight: 800;
  color: #606060;
  margin-top: 20px;
  padding: auto;
}

.winner {
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 20px;
}

.game-end-card-footer {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 100;
  color: #7A7B82;
  padding: 5px;
}

#winner-guesses {
  font-weight: bold;
}

#winner-time {
  font-weight: bold;
}

.dlt-btn {
  height: 20px;
}